# s3系ストレージ上のバケット
bucket: quoridorn

# ブラウザからストレージを参照するためのURLのベース
# 末尾に/を入れてください。
accessUrl: 'https://192.168.60.79/s3/'

# アプリケーションサーバからs3系ストレージにアクセスするために使う、s3プロトコルの「END_POINT」の値
endPoint: minio

# アプリケーションサーバからs3系ストレージにアクセスするために使う、s3プロトコルの「PORT」の値
port: 9000

# アプリケーションサーバからs3系ストレージにアクセスするために使う、s3プロトコルの「ACCESS_KEY」の値
accessKey: 'access'

# アプリケーションサーバからs3系ストレージにアクセスするために使う、s3プロトコルの「SECRET_KEY」の値
secretKey: 'secretkey'

# アプリケーションサーバからs3系ストレージにアクセスするために使う、s3プロトコルの「SECURE」の値
# (true: HTTPSプロトコル, false: HTTPプロトコル)
useSSL: false
